# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# macOS
.DS_Store

# Home Assistant
home-assistant.log
home-assistant_v2.db

# Other
*.log
*.sqlite3

# Custom Components (Home Assistant)
/custom_components/*/__pycache__/
/custom_components/*/*.pyc

# Ignore secrets
secrets.yaml

# Ignore local config
*.local
